Repository NicolasJourdan/brefngames, pull requests merged in 2019-01, with the labels that each got.

#320 Feature/310/fifteen vainc online mode
  src/Game/Games/FifteenVainc/FifteenVaincController/ClientFifteenVaincController.java
  src/Game/Games/FifteenVainc/FifteenVaincController/FifteenVaincController.java
  src/Game/Games/FifteenVainc/FifteenVaincController/ServerFifteenVaincController.java
  src/Game/Games/FifteenVainc/FifteenVaincModel/FifteenVaincModel.java
  src/Game/Games/FifteenVainc/FifteenVaincScene.java
  src/Game/OnlineGameSceneFactory.java
  src/Online/Socket/Message/MessageType.java
  src/Repository/Game/FifteenVaincRepository.java
Labels: GameImplementation, Network

#324 309 - fifteen vainc stat menu
  src/Scene/Factory/GameSceneEnumFactory.java
  src/Scene/Model/ActionEnum.java
  src/Scene/Model/SceneEnum.java
  src/Statistic/Controller/StatisticController.java
  src/Statistic/Controller/StatisticFifteenVaincController.java
  src/Statistic/Factory/FifteenVaincStatisticFactory.java
  src/Statistic/Factory/PlayerStatisticFactory.java
  src/Statistic/Model/StatisticFifteenVaincModel.java
  src/Statistic/StatisticFifteenVaincScene.java
  src/Statistic/StatisticSceneFactory.java
  src/Statistic/View/StatisticFifteenVaincView.java
  src/Statistic/View/StatisticMenuView.java
Labels: Statistic

#328 323 - Reorganize Table Stat Player
  src/Statistic/View/StatisticPlayerView.java
  src/Utils/UI/CustomTable/CustomTable.java
Labels: Statistic, bug

#351 Add hangman icon in map
  src/Map/View/Card.java
Labels: View

#352 Change Fifteen icon
  src/data/Images/fifteen_vainc.png
Labels: View
